.feature-card-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card-text {
  font-weight: 600;
  line-height: 28px;
}
@media(max-width: 767px) {
  .feature-card-feature-card {
    flex-direction: row;
  }
  .feature-card-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card-container {
    flex-direction: column;
  }
}

.question1-container {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.question1-text {
  font-weight: 700;
}

.serviceand-contact-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.serviceand-contact-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.serviceand-contact-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.serviceand-contact-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.serviceand-contact-nav12 {
  transition: 0.3s;
  text-decoration: none;
}
.serviceand-contact-burger-menu {
  display: none;
}
.serviceand-contact-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.serviceand-contact-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.serviceand-contact-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.serviceand-contact-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.serviceand-contact-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.serviceand-contact-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.serviceand-contact-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.serviceand-contact-nav1 {
  margin-bottom: var(--dl-space-space-unit);
}
.serviceand-contact-nav2 {
  margin-bottom: var(--dl-space-space-unit);
}
.serviceand-contact-nav3 {
  margin-bottom: var(--dl-space-space-unit);
}
.serviceand-contact-nav4 {
  margin-bottom: var(--dl-space-space-unit);
}
.serviceand-contact-nav5 {
  margin-bottom: var(--dl-space-space-unit);
}
.serviceand-contact-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.serviceand-contact-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.serviceand-contact-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.serviceand-contact-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.serviceand-contact-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.serviceand-contact-hero1 {
  height: 678px;
  background-size: cover;
  background-color: transparent;
  background-image: url("public/screen%20shot%202024-02-06%20at%2011.02.52%20am%20(2)-700h.png");
}
.serviceand-contact-container01 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.serviceand-contact-hero-sub-heading {
  font-size: 18px;
  text-align: center;
}
.serviceand-contact-hero-heading {
  max-width: 800px;
  text-align: center;
}
.serviceand-contact-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.serviceand-contact-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.serviceand-contact-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.serviceand-contact-container02 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.serviceand-contact-features-heading {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.serviceand-contact-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
.serviceand-contact-container03 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: 1fr 1fr;
}
.serviceand-contact-pricing {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.serviceand-contact-container04 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.serviceand-contact-pricing-sub-heading {
  text-align: center;
}
.serviceand-contact-container05 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.serviceand-contact-container06 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.serviceand-contact-text36 {
  text-transform: uppercase;
}
.serviceand-contact-container07 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.serviceand-contact-text39 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.serviceand-contact-free-plan-price {
  font-size: 4rem;
  font-weight: 700;
}
.serviceand-contact-container08 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.serviceand-contact-container09 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.serviceand-contact-text42 {
  line-height: 150%;
}
.serviceand-contact-button {
  width: 100%;
  background-color: #0060B9;
}
.serviceand-contact-text43 {
  color: #ffffff;
}
.serviceand-contact-container10 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.serviceand-contact-text46 {
  text-transform: uppercase;
}
.serviceand-contact-container11 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.serviceand-contact-text47 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.serviceand-contact-basic-plan-pricing {
  font-size: 4rem;
  font-weight: 700;
}
.serviceand-contact-container12 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.serviceand-contact-container13 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.serviceand-contact-text50 {
  line-height: 150%;
}
.serviceand-contact-container14 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.serviceand-contact-text52 {
  line-height: 150%;
}
.serviceand-contact-container15 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.serviceand-contact-text53 {
  line-height: 150%;
}
.serviceand-contact-button1 {
  width: 100%;
}
.serviceand-contact-container16 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.serviceand-contact-text54 {
  text-transform: uppercase;
}
.serviceand-contact-container17 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.serviceand-contact-text55 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.serviceand-contact-pro-plan-pricing {
  font-size: 4rem;
  font-weight: 700;
}
.serviceand-contact-container18 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.serviceand-contact-container19 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.serviceand-contact-text58 {
  line-height: 150%;
}
.serviceand-contact-container20 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.serviceand-contact-text60 {
  line-height: 150%;
}
.serviceand-contact-container21 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.serviceand-contact-container22 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.serviceand-contact-button2 {
  width: 100%;
}
.serviceand-contact-banner {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.serviceand-contact-banner-heading {
  text-align: center;
}
.serviceand-contact-banner-sub-heading {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.serviceand-contact-banner-button {
  text-decoration: none;
}
.serviceand-contact-faq {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.serviceand-contact-faq1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
}
.serviceand-contact-container23 {
  display: flex;
  max-width: 35%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.serviceand-contact-text81 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.serviceand-contact-text82 {
  text-align: left;
}
.serviceand-contact-container24 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.serviceand-contact-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.serviceand-contact-container25 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.serviceand-contact-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.serviceand-contact-nav11 {
  margin-left: 0px;
  text-decoration: none;
}
.serviceand-contact-nav21 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.serviceand-contact-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.serviceand-contact-container26 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.serviceand-contact-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.serviceand-contact-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.serviceand-contact-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.serviceand-contact-icon14 {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .serviceand-contact-hero1 {
    flex-direction: column;
  }
  .serviceand-contact-container01 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .serviceand-contact-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .serviceand-contact-hero-heading {
    text-align: center;
  }
  .serviceand-contact-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .serviceand-contact-pricing-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .serviceand-contact-container05 {
    align-items: center;
    flex-direction: column;
  }
  .serviceand-contact-pricing-card {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    max-width: 450px;
  }
  .serviceand-contact-pricing-card1 {
    width: 100%;
    max-width: 450px;
  }
  .serviceand-contact-pricing-card2 {
    width: 100%;
    max-width: 450px;
  }
  .serviceand-contact-banner-sub-heading {
    max-width: 100%;
  }
  .serviceand-contact-text82 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .serviceand-contact-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .serviceand-contact-desktop-menu {
    display: none;
  }
  .serviceand-contact-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .serviceand-contact-nav1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .serviceand-contact-nav2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .serviceand-contact-nav3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .serviceand-contact-nav4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .serviceand-contact-nav5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .serviceand-contact-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .serviceand-contact-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .serviceand-contact-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .serviceand-contact-features-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .serviceand-contact-container03 {
    grid-template-columns: 1fr;
  }
  .serviceand-contact-pricing-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .serviceand-contact-container05 {
    align-items: center;
    flex-direction: column;
  }
  .serviceand-contact-pricing-card {
    width: 100%;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .serviceand-contact-pricing-card1 {
    width: 100%;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .serviceand-contact-pricing-card2 {
    width: 100%;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .serviceand-contact-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .serviceand-contact-banner-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .serviceand-contact-faq1 {
    flex-direction: column;
  }
  .serviceand-contact-container23 {
    max-width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .serviceand-contact-text82 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .serviceand-contact-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .serviceand-contact-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .serviceand-contact-container26 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .serviceand-contact-text85 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .serviceand-contact-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .serviceand-contact-mobile-menu1 {
    padding: 16px;
  }
  .serviceand-contact-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .serviceand-contact-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .serviceand-contact-btn-group {
    flex-direction: column;
  }
  .serviceand-contact-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .serviceand-contact-pricing-card2 {
    margin-bottom: 0px;
  }
  .serviceand-contact-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .serviceand-contact-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .serviceand-contact-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .serviceand-contact-container26 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .serviceand-contact-text85 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
